.logo{
width: 5em;
}

.navbar .logo a img{
    width: 10%;

}
.navbar{
    background: #c2b7d9 !important;
    height: 10em;
}

.navbar-nav li.active > a {
        color: #615F66;
}

.nav-link > a{
    font-weight: medium;
    font-size: 24px;
    color:  #41348b
}



