<body>
    <h1>Ubuntu Admin</h1>
    <header>
        <ul>
            <li>
                <a href="/">Home</a>
                <a href="/admin/referrals">Referrals</a>
                <a href="/admin/shelters">Shelters</a>
            </li>
        </ul>
    </header>
    {{{body}}}
</body>