.app {
  text-align: center;
}

.app-intro {
  font-size: large;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.footer {
  background-color: #C0B0D6;
}

.form {
  border-color: #9582BB 10px;
}

.title {
  font-size: 24px;
  color: #9582bb;
}

.btn {
  background-color: #9582BB;
}